body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-image: url('outpt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #696969;
    padding: 3px;
}


label{
    padding: 2px;
    padding-left:  10px;
    padding-right: 10px;
    background-color: #f1f1f1;
    border-radius: 0 0 5px 5px;
}

h1 
    {
        background-color: #2c3e50;
        color: white;
        padding: 1rem;
        text-align: center;
    }

header
{
background-color: blue;
color: white;
font-size: 19px;
text-align: center;
}
submit
{
background-color: green;
color: white;
}
input,select,button {
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    font-size: medium;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
}
form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-emphasis: bold;
    color: black;
 }
fieldset
{
width: 100%;
background-color: #fafafa;
padding: 1px;
font-size: medium;
color: black;
} 
.button:hover {
    background-color: #0056b3;
}
.req {
  color: red;
}